:root {
  --textWidth: -10%;
}

html {
  font-size: 16px;
}

body {
  background-color: #000000;
  color: #00FF00;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0;
  overflow: hidden;
}

main {
  padding: 2rem;
  
}

h1 {
  font-size: 32vh;
  font-weight: 500;
  letter-spacing: -1vh;
  line-height: 24vh;
  margin: 0;
  text-transform: uppercase;
}

#heading span {
  display: block;
}